{% extends "base.html" %}
{% load qr_code %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Masthead-->
<main role="main" class="container-md-md container-home">
    <div class="row">
        <div class="col-md-8">
            <div class="content-section">
                <div class="half">
                    <div class="qr-code">
                        <!-- Здесь будет QR-код -->
                        {% qr_from_text host size="m" image_format="png" error_correction="L" %}
                    </div>
                </div>
                <div class="half">
                    <a href="{% url 'add-tournament' %}">Создать турнир</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}