{% extends "base.html" %}
{% load qr_code %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Masthead-->
<main role="main" class="container-md-md container-home">
    <div class="row">
        <div class="col-md-8">
            {% if tournament.connecting_players %}
            <div class="content-section">
                <div class="half">
                    <div class="qr-code">
                        <!-- Здесь будет QR-код -->
                        {% qr_from_text host size="m" image_format="png" error_correction="L" %}
                    </div>
                </div>
                <div class="half">
                    {{ tournament.id }}
                    {{ tournament.name }}
                    {{ tournament.password }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock content %}